<section class="row-fluid image-cover">
    <img ng-src="{{image}}"/>
</section>

<section class="col-md-8 col-md-offset-2 population-bar chart-container">



    <span class="col-md-12"><p class="h1">Invånare per kvadratkilometer</p></span>

    <div class="form-group col-md-2 pull-right">
        <label for="chartSelector" class="label label-default col-md-12">Select chart:</label>
        <select class="form-control" id="chartSelector" ng-options="item.label for item in selectChart" ng-model="selected" ng-change="chartChanged()"></select>
    </div>

    <div class="col-md-8 col-md-offset-2">
        <charts></charts>
    </div>


</section>